<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h3>Time Sheet</h3>
    </div>

    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-row">

          <ng-template #rt let-r="result" let-t="term">
            <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
          </ng-template>
          <div class="form-group col-md-4">
            <label for="task">Task</label>
            <input [ngbTypeahead]="search" type="text" id="task" class="form-control" name="task" [(ngModel)]="task"
              [resultTemplate]="rt" [inputFormatter]="formatter" required>

          </div>

          <div class="form-group col-md-4">
            <label for="start">Start Time</label>
            <input type="datetime-local" id="start" class="form-control" name="start" [(ngModel)]="start" required>
          </div>

          <div class="form-group col-md-4">
            <label for="end">End Time</label>
            <input type="datetime-local" id="end" class="form-control" name="end" [(ngModel)]="end" required>
          </div>

        </div>
        <button type="submit" class="btn btn-primary mt-3">Save</button>

      </form>
    </div>
  </div>

  <div class="card mt-5">
    <div class="card-header">
      <h3>Logged Tasks</h3>
    </div>
    <div class="card-body">
      <div class="form-group col-md-4">
        <select class="form-select" [(ngModel)]="selectedTaskId" (change)="filterLogs()">
          <option value="">All Tasks</option>
          <option *ngFor="let task of taskList" [value]="task.id">{{ task.name }}</option>
        </select>
      </div>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>Task</th>
            <th>Start Time</th>
            <th>End Time</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let log of logs">
            <td>{{log.task?.name}}</td>
            <td>{{log.start | date: 'short'}}</td>
            <td>{{log.end}}</td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>

</div>
